.row-container {
 
  background-color: #203443;
}

.row-title {
  margin: 0 1rem 0.5rem;
  
  color:#fff;
 
    display: flex
;
    font-family: var(--header-font-family);
    line-height: 22px;
  
}
h2 {
    font-size: calc(20px + .00625 * (100vw - 320px));
    line-height: 1.4em;
    font-weight: 300;
    padding-top: 3px;
    border-radius: 2px;
}

.row-scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.card-scroll {
  display: flex;
  gap: 1rem;
  overflow-x: hidden;
  padding: 1rem;
  flex: 1;
}

.media-card {
  min-width: 244px;
  max-width: 160px;
  flex-shrink: 0;
  height: 355px;
  cursor: pointer;
}

.media-card img {
  height: 355px;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.nav-button {
  position: relative;
  z-index: 1;
}

.left {
  margin-left: 1rem;
}

.right {
  margin-right: 1rem;
}
h2 {
    font-size: calc(20px + .00625 * (100vw - 320px));
    line-height: 1.4em;
    font-weight: 300;
    padding-top: 3px;
    border-radius: 2px;
}
.mat-scroll-container {
  max-height: 100vh;
  overflow-y: auto;
  background-color: #203443;
  scrollbar-width: thin;                /* Firefox */
  scrollbar-color: #70757A #1A2A39;     /* Firefox */
}

/* Webkit-based browsers (Chrome, Edge, Safari) */
/* .mat-scroll-container::-webkit-scrollbar {
  width: 8px;
}

.mat-scroll-container::-webkit-scrollbar-track {
  background: #1A2A39;
}

.mat-scroll-container::-webkit-scrollbar-thumb {
  background-color: #ff9800;
  border-radius: 10px;
  border: 2px solid #1A2A39;
} */
